react-dom
react-native-web
react-native-webview
react-navigation/native
react-navigation/bottom-tabs
react-navigation/native-stack
react-native-screens
react-native-safe-area-context
react-native-swiper
axios

react-native-webview@13.15.0