react-dom
react-native-web
react-native-webview
react-navigation/native
react-navigation/bottom-tabs
react-navigation/native-stack
react-native-screens
react-native-safe-area-context
react-native-swiper
axios
expo-screen-orientation
expo-status-bar